    *{
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    [ng-drag]{
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    [ng-drag]{
        //width: 50%;
      //  height: 10%;
       // background: blue;
        color:white;
        text-align: center;
        
        display: inline-block;
        margin:10%;
        cursor: move;
    }
    ul.draggable-objects:after{
        display: block;
        content:"";
        clear:both;
    }
    .draggable-objects li{
        /*float:left;
        display: block;*/
        /*width: 120px;
        height:100px;*/
    }
    [ng-drag].drag-over{
        border:solid 1px red;
    }
    [ng-drag].dragging{
        opacity: 0.5;
    }
    [ng-drop]{
        background: gray;
       // margin-left: 10%;
     //   width:  10%;
      //  min-height: 100px;
       // height: 50px;
        display: block;
        position: relative;
    }
    [ng-drop].drag-enter{
        border:solid 5px red;
    }
    [ng-drop] span.title{
        display: block;
        position: absolute;
        //top:50%;
        //left:50%;
        
        
    }